@page
@model Forum.Pages.Topics.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Topic.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Topic.Title" class="control-label"></label>
                <input asp-for="Topic.Title" class="form-control" />
                <span asp-validation-for="Topic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Topic.Content" class="control-label"></label>
                <input asp-for="Topic.Content" class="form-control" />
                <span asp-validation-for="Topic.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Topic.CreatedAt" class="control-label"></label>
                <input asp-for="Topic.CreatedAt" class="form-control" />
                <span asp-validation-for="Topic.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Topic.UserId" class="control-label"></label>
                <select asp-for="Topic.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Topic.UserId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

