@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mt-5 text-center">
    <h1 class="display-4">Welcome to Typing... - a forum where you can talk about anything. Have fun and be kind.</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
